body  {
  margin:0;
  overflow-x:hidden;
  font-family: "Courier New", monospace ;
  background-color:#0C0C19;
  color:#E5E5E5;}
p {
  margin: 0;
  padding-bottom:2svh;
  padding-right:4svw;
  font-size: calc(1vw+1em);}
h1  {
  margin: 0;
  padding-bottom:3svh;
  font-family: inherit;}
a {
  color: inherit;
  cursor:pointer;}
/*img {
  max-width:96vw;
  padding-bottom:1vh;}*/
#nav  {
  position:relative;
  display:inline-block;
  float:left;
  z-index: 1;
  width: 100%;
  border-bottom:1px solid #E5E5E5;
  background-color:#0C0C19}
#nav ul {
  padding:0;
  margin:0;
  list-style-type:none; 
  padding-left:2svw;}
#nav li a {
  display: inline-block;
  position:relative;
  float:left;
  text-align:center;
  width:auto;
  padding:2svh;
  text-decoration:none;
  outline: 0;
  font-weight:bold;}
#nav li a:before  {
  content:"";
  position: absolute;
  bottom: 0;
  width: 0;
  left: 50%;
  border-bottom: 2px solid #E5E5E5;
  transition:.1s;}
#nav li a:hover:before  {
  content:"";
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  border-bottom: 2px solid #E5E5E5;
  transition:.2s;}
#nav li a:active  {
  background-color:#0C0C19;}
#main {
  position:relative;
  display:block;
  text-align: left;
  z-index: 0;
  width:100%;
  height:100%;
  padding-top:4svh;
  margin-left:2svw;
  max-width:100%;
  overflow-x:hidden;
  overflow-y:hidden;
 }

 /* ui from word game will now serve as default ui for all games */

 .devlegame{
  background-color: #111212;
  width: fit-content;
  max-width: 95svw;
  border-radius: 16px;
  border: 1px solid #39393B;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5svh;
  display:block;
  padding-bottom: 5svh;
  font-family: monospace;
}
.grid{
  display: block;
  width:fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: #111212;
  border: 2px solid #39393B;
  border-radius: 16px;
  text-align: center;
}
.cell{
  width:10svh;
  height:10svh;
  display: table-cell;
  background-color: #3A383B;
  border-radius: 16px;
  border: 2px solid #111212;
  font-size: calc(2vh + 2em);
  text-align: center;
vertical-align: middle;
  color: white;
}
.smallcell{
  width:5svh;
  height:5svh;
  display: table-cell;
  background-color: #3A383B;
  border-radius: 16px;
  border: 2px solid #111212;
  font-size: calc(2vh + 2em);
  text-align: center;
vertical-align: middle;
  color: white;
}

.devle_button {
  display:inline-block;
  position:relative;
  margin-left: 1svw;
  margin-right: auto;
  margin-top: 10svh;
  border: 0px;
  width: 10svh;
  height: 10svh;
  background-color: #3A383B;
  color: white;
  font-size: calc(1svh + 0.5em);
font-family:monospace;
  border-radius: 16px;
  vertical-align: middle;
}

.devle_button a{
  text-decoration: none;
}

.devle_button:hover {
  background-color: #5e5e63;
  cursor:pointer;
}