.devlegame{
    background-color: #111212;
    width: fit-content;
    max-width: 95svw;
    border-radius: 16px;
    border-bottom: 16px #111212 solid;
    margin-left: auto;
    margin-right: auto;
    display:block;
	font-family: monospace;
}
.grid{
    display: block;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #111212;
    border: 2px solid #39393B;
    border-radius: 16px;
    text-align: center;
}
.cell{
    width:10svh;
    height:10svh;
    display: table-cell;
    background-color: #3A383B;
    border-radius: 16px;
    border: 2px solid #111212;
    font-size: calc(2vh + 2em);
    text-align: center;
	vertical-align: middle;
    color: white;
}
.smallcell{
    width:5svh;
    height:5svh;
    display: table-cell;
    background-color: #3A383B;
    border-radius: 16px;
    border: 2px solid #111212;
    font-size: calc(2vh + 2em);
    text-align: center;
	vertical-align: middle;
    color: white;
}

.devle_button {
    display:inline-block;
    position:relative;
    margin-left: 1svw;
    margin-right: auto;
    margin-top: 10svh;
    border: 0px;
    width: 10svh;
    height: 10svh;
    background-color: #3A383B;
    color: white;
    font-size: calc(0.8vh + 1em);
	font-family:monospace;
    border-radius: 16px;
    vertical-align: middle;
}

.devle_button a{
    text-decoration: none;
}

.devle_button:hover {
    background-color: #5e5e63;
    cursor:pointer;
}

#hangman {
    margin-top: 10svh;
}